*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("./images/background.jpg");
}

a{
    color: cornsilk;
}

.Source{
    text-align: center;
    background-color: #000;
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    color: #fff;
    border-radius: 8px;
    opacity: 0.6;
}

.Source h1{
    font-size: 20px;
    font-weight: bold;
}

.Source h2{
    font-size: 17px;
    font-weight: bold;
    font-weight: normal;
}
  
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(190, 243, 243, 0.75);
}

.calculator-grid > button:hover {
    background-color: rgb(15, 196, 202);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 39, 54, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: #fff;
    font-size: 1.5rem;
}

.output .current-operand {
    color: #fff;
    font-size: 2.5rem;
}